---
import * as CONFIG from '../../config';
const { editHref } = Astro.props;
const showMoreSection = CONFIG.COMMUNITY_INVITE_URL || editHref;
---

{showMoreSection && <h2 class="heading">More</h2>}
<ul>
	{editHref && (
		<li class={`heading-link depth-2`}>
			<a class="edit-on-github" href={editHref} target="_blank">
				<svg
					aria-hidden="true"
					focusable="false"
					data-prefix="fas"
					data-icon="pen"
					class="svg-inline--fa fa-pen fa-w-16"
					role="img"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					height="1em"
					width="1em"
				>
					<path
						fill="currentColor"
						d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"
					/>
				</svg>
				<span>Edit this page</span>
			</a>
		</li>
		<li class={`heading-link depth-2`}>
			<a href={editHref.replace('blob/main', 'commits/main')} target="_blank">
				<svg 
					aria-hidden="true"
					focusable="false"
					data-prefix="fas"
					data-icon="clock-rotate-left"
					xmlns="http://www.w3.org/2000/svg"
				 	viewBox="0 0 512 512"
					class="svg-inline--fa fa-clock-rotate-left fa-w-16"
					role="img"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					height="1em"
					width="1em"
				>
					<path
						fill="currentColor"
						d="M256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C201.7 512 151.2 495 109.7 466.1C95.2 455.1 91.64 436 101.8 421.5C111.9 407 131.8 403.5 146.3 413.6C177.4 435.3 215.2 448 256 448C362 448 448 362 448 256C448 149.1 362 64 256 64C202.1 64 155 85.46 120.2 120.2L151 151C166.1 166.1 155.4 192 134.1 192H24C10.75 192 0 181.3 0 168V57.94C0 36.56 25.85 25.85 40.97 40.97L74.98 74.98C121.3 28.69 185.3 0 255.1 0L256 0zM256 128C269.3 128 280 138.7 280 152V246.1L344.1 311C354.3 320.4 354.3 335.6 344.1 344.1C335.6 354.3 320.4 354.3 311 344.1L239 272.1C234.5 268.5 232 262.4 232 256V152C232 138.7 242.7 128 256 128V128z"
					/>
				</svg>
				<span>History</span>
			</a>
		</li>
	)}
	{CONFIG.COMMUNITY_INVITE_URL && (
		<li class={`heading-link depth-2`}>
			<a href={CONFIG.COMMUNITY_INVITE_URL} target="_blank">
				<svg
					aria-hidden="true"
					focusable="false"
					data-prefix="fas"
					data-icon="comment-alt"
					class="svg-inline--fa fa-comment-alt fa-w-16"
					role="img"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					height="1em"
					width="1em"
				>
					<path
						fill="currentColor"
						d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 9.8 11.2 15.5 19.1 9.7L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64z"
					/>
				</svg>
				<span>Join our community</span>
			</a>
		</li>
	)}
</ul>

<style>
	.edit-on-github {
		text-decoration: none;
		font: inherit;
		color: inherit;
		font-size: 1rem;
	}
</style>
