---
const { sponsor, small } = Astro.props;
const {link, name, logo} = sponsor;
---

<a href={link} class:list={["company", {"is-small": small}]}>
  <img src={logo} alt={name} >
</a>

<style>
  .company {
    display: flex;
    align-items: center;
    justify-items: center;

    min-height: 8.7em;
    padding: 1.5em 3em;
    border-radius: .35em;

    background-color: var(--theme-bg-offset);
    transition: .3s background;
  }

  .company:hover, .company:focus {
    background-color: var(--theme-text-lighter);
  }

  .company img {
    width: 100%;
    max-width: 11.8em;
    height: auto;
    margin: 0 auto;
  }

  .company.is-small {
    min-height: 6.25em;
  }
  .company.is-small img {
    max-width: 9.25em;
  }

  :root.theme-dark .company {
	  background-color: var(--theme-bg-alt);
    transition: background-color .4s;
  }

  :root.theme-dark .company img {
	  filter: grayscale(1) invert(1);
    transition: filter .4s;
  }
  
  :root.theme-dark .company:hover {
	  background-color: var(--theme-text-light);
  }
  :root.theme-dark .company:hover img {
	  filter: grayscale(0);
  }
</style>