---
const { sponsor } = Astro.props;
const {link, name, logo} = sponsor;
---

<a href={link} class="sponsor">
  <img src={logo} alt={name} >
</a>

<style>
  .sponsor {
    display: flex;
    align-items: center;
    justify-items: center;

    min-height: 140px;
    padding: 1.5em 3em;
    border-radius: .35em;

    background-color: var(--theme-bg-offset);
    transition: .3s background;
  }

  .sponsor:hover, .sponsor:focus {
    background-color: var(--theme-text-lighter);
  }

  .sponsor img {
    max-width: 190px;
    height: auto;
    margin: 0 auto;
  }

  :root.theme-dark .sponsor {
	  background-color: var(--theme-text-light);
  }

  :root.theme-dark .sponsor img {
	  filter: grayscale(1) invert(1);
  }
</style>