<div class="sponsors">
  <slot />
</div>

<style>
  .sponsors {
    display: grid;
    gap: .3em;
  }

  @media (min-width:640px) {
    .sponsors {
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    } 
  }
</style>